<nav :class="{ 'flex': open, 'hidden': !open }" class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
  {{ range site.Menus.main }}
    {{ if .HasChildren }}
      <div @click.away="open = false" class="relative" x-data="{ open: false }">
        <button @click="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-primary-600 focus:bg-primary-600 focus:outline-none focus:shadow-outline">
          <span>{{ .Name }}</span>
        </button>
        <div x-show="open" x-transition class="absolute right-0 z-30 mt-2 origin-top-right bg-white rounded-md shadow-lg md:w-48">
          <div class="px-2 py-2 text-gray-900">
            {{ range .Children }}
              <a class="block px-4 py-2 text-sm rounded-md hover:text-white hover:bg-primary-600" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    {{ else }}
      <a class="px-4 py-2 mt-2 text-sm font-semibold rounded-lg md:mt-0 md:ml-4 hover:text-white hover:bg-primary-600 focus:outline-none focus:shadow-outline" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    {{ end }}
  {{ end }}
</nav>
